.container{
    display: flex;
    /* gap: 330px; */
    justify-content: space-between;
    /* border: 1px solid white; */
}
.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 600px;
    /* align-self: center; */

}

.form input{
    padding: 20px;
    /* background-color: var(--bg); */
    background-color:white;
    border-radius: 10px;
    /* color: var(--textColor); */
    color: black;
    border: none;
    background-repeat: 5px;
}

.form button{
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}